# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64

numpy~=1.21.6
open3d==0.9.0.0
lyceanem~=0.0.1
tqdm~=4.62.2
matplotlib~=3.3.4
scipy~=1.6.2
importlib_resources~=5.2.0
packaging~=20.9
numba~=0.52.0
solidpython~=1.1.1
cupy~=8.3.0
setuptools~=52.0.0
